*{
    font-family: sans-serif;
}
.logo{
    font-family: 'Yellowtail', cursive, sans-serif;
}
.chat{
    margin-top: 2rem;
}

div.chat-content{
    border-radius: 25rem;
    height: 65vh;
    margin-bottom: 2rem;
}

.card{
    height: 100%;
}
form{
    margin-bottom: 1rem;
}
button{
    width: 100%;
}

@media(max-width: 670px){
    
}